<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bugs</title>
</head>
<body>
    <h1>BUGS</h1>
    <% for( let i = 0; i < Bugs.length; i++) { %> 
        <% let bugs = Bugs[i]; %>
        <% bugs = bugs.toJSON() %>
        <p><%= bugs.name %></p>
        <img src="<%= bugs.icon %>" />
        <a href="/bugs/<%= bugs.id %>">More Details</a>
        <hr>
    <% } %>
</body>
</html>