<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <p>Have You Caught <%= seacreatures.name %> Yet?</p>

<form method="POST" action="/seacreatures/<%= seacreatures.id %>/?_method=PUT">
<input type="submit" value="<%= seacreatures.capture %>">
</form>
</body>
</html>