<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>FISH</h1>
    <% for( let i = 0; i < Fish.length; i++) { %> 
        <% let f = Fish[i]; %>
        <% f = f.toJSON() %>
        <p><%= f.name %></p>
        <p><%= f.shadowSize %></p>
        <p><%= f.price %></p>
        <p><%= f.cjPrice %></p>
    <% } %> 
</body>
</html>